<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
    <head>
    　　<title>{$title}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="zh-CN" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <style>
            body {
                background: #f44336;
            }

            #content {
                text-align: center;
                color: #ffc107;
            }
        </style>
    </head>
    <body id="content">
        <h1>感谢支持</h1>
        <h1>红包已被领取</h1>
    </body>
</html>